 
<ul class="icons">
   {{#if @config.custom.socialTwitter}}
      <li>
         <a href="{{@config.custom.socialTwitter}}" class="icon brands fa-twitter">
            <span class="label">{{ translate 'socials.twitter' }}</span>
         </a>
      </li>
   {{/if}}
   {{#if @config.custom.socialFacebook}}
      <li>
         <a href="{{@config.custom.socialFacebook}}" class="icon brands fa-facebook-f">
            <span class="label">{{ translate 'socials.facebook' }}</span>
         </a>
      </li>
   {{/if}}
   {{#if @config.custom.socialInstagram}}
      <li>
         <a href="{{@config.custom.socialInstagram}}" class="icon brands fa-instagram">
            <span class="label">{{ translate 'socials.instagram' }}</span>
         </a>
      </li>
   {{/if}}
   {{#if @config.custom.socialLinkedin}}
      <li>
         <a href="{{@config.custom.socialLinkedin}}" class="icon brands fa-linkedin">
            <span class="label">{{ translate 'socials.linkedIn' }}</span>
         </a>
      </li>
   {{/if}}
   {{#if @config.custom.socialVimeo}}
      <li>
         <a href="{{@config.custom.socialVimeo}}" class="icon brands fa-vimeo">
            <span class="label">{{ translate 'socials.vimeo' }}</span>
         </a>
      </li>
   {{/if}}
   {{#if @config.custom.socialPinterest}}
      <li>
         <a href="{{@config.custom.socialPinterest}}" class="icon brands fa-pinterest">
            <span class="label">{{ translate 'socials.pinterest' }}</span>
         </a>
      </li>
   {{/if}}
   {{#if @config.custom.socialYoutube}}
      <li>
         <a href="{{@config.custom.socialYoutube}}" class="icon brands fa-youtube">
            <span class="label">{{ translate 'socials.youtube' }}</span>
         </a>
      </li>
   {{/if}}
   {{#if @config.custom.socialWhatsapp}}
      <li>
         <a href="{{@config.custom.socialWhatsapp}}" class="icon brands fa-whatsapp">
            <span class="label">{{ translate 'socials.whatsapp' }}</span>
         </a>
      </li>
   {{/if}}
</ul>