{{#checkIf @config.custom.frontCalendarId '!=' "" }}
   {{#getTag @config.custom.frontCalendarId}}
      {{#isNotEmpty this.posts}}
         {{orderby this.posts 'createdAt' 'ASC'}}
         <div class="sidebarItem">
            {{#checkIf @config.custom.showCalendarTitle '==' true}}
               <h3>{{name}}</h3>
            {{/checkIf}}
            {{#each posts}}
                  <a href="{{url}}">
                     <h4>{{date createdAt 'D MMMM YYYY'}}</h4>
                     {{title}}
                     {{#if postViewConfig.introText}}
                           - {{postViewConfig.introText}}
                     {{/if}}
                     {{#if postViewConfig.locationName}}
                           - {{postViewConfig.locationName}}
                     {{/if}}
                  </a>
            {{/each}}
         </div>
         {{orderby this.posts 'createdAt' 'DESC'}}
      {{/isNotEmpty}}
   {{/getTag}}
{{/checkIf}}

{{#checkIf @config.custom.goldSponsors '!=' "" }}
   <div class="sidebarItem sidebarEvidence">
   {{{getGoldSponsorImgs @website.mediaFilesUrl @config.custom.goldSponsors}}}
   </div>
{{/checkIf}}
